

<% layout("/layouts/boilerplate") %>
<style>
   #filters{
     display: flex;
     flex-wrap:wrap;
     align-items: center;
   }

   .filter{
     text-align:center;
     margin-right: 2rem;
     margin-top: 2rem;
     opacity:0.7;
   }

   .filter:hover{
     opacity:1;
     cursor:pointer;
     }
    .tax-info{
        display:none;
    }

    .tax-toggle{
        border:1px solid  rgb(241, 185, 185);
        border-radius: 1rem;
        background-color: rgb(241, 185, 185);
        height:3rem;
        padding:1rem;
        margin-left: auto;
        display: flex;
        align-items: center;
    }
  
</style>
<body>
    <div id="filters">
        <div class="filter">
           <div><i class="fa-solid fa-fire"></i></div> 
            <p>Trending</p>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-bed"></i></div> 
            <p>Rooms</p>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-mountain-city"></i></div> 
            <p>Iconic cities</p>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-mountain"></i></div> 
            <p>Mountains</p>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-chess-rook"></i></div> 
            <p>Castles</p>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-person-swimming"></i></div> 
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-cow"></i></div> 
            <p>Camping</p>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-snowflake"></i></div> 
            <p>Arctic</p>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-umbrella-beach"></i></div> 
            <p>Beaches</p>
        </div>
         <div class="filter">
           <div><i class="fa-solid fa-house-chimney"></i></div> 
            <p>Rental</p>
        </div>
        <div class="filter">
           <div><i class="fa-brands fa-square-bluesky"></i></div> 
            <p>Luxe</p>
        </div>
        <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
         </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4 "> <% for (let listing of allListings) { %>
                <div class="col">
                    <a href="/listings/<%= listing._id %>" class="listing-link text-decoration-none text-dark">
                        <div class="card shadow fade-in" style="width: 22rem;"> <img
                                src="<%= listing.image && listing.image.url ? listing.image.url : '/default.jpg' %>"
                                class="card-img-top"
                                alt="listing_image"
                                style="height: 13rem; object-fit: cover;"> <div class="card-img-overlay"></div>

                            <div class="card-body p-3"> <p class="card-text mb-1"> <b><%= listing.title || "Untitled Listing" %><br></b>
                                    &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/night
                                    <i class="tax-info">&nbsp; &nbsp;+18% GST</i>
                                    <br />
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</body>

<script>
    let taxSwitch = document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click",() =>{
      let taxInfo = document.getElementsByClassName("tax-info");
      for(info of taxInfo){
        if(info.style.display != "inline"){
            info.style.display="inline";
        }else{
        info.style.display = "none"; 
        }
      }
    });
</script>